*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
spec/tmp
spec/dummy/tmp
spec/dummy/log/*.log
spec/dummy/db/*.sqlite3
spec/version_tmp
tmp
